
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Bootstrap CSS -->
  {% block title %}<title>Horario Semestral</title>{% endblock %}
  <link rel="stylesheet" href="{% static 'classTeacher/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'classTeacher/images/open-iconic/font/css/open-iconic.css' %}">
  <link rel="stylesheet" href="{% static 'classTeacher/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'classTeacher/images/open-iconic/font/css/open-iconic-bootstrap.min.css' %}">
  <!--- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
  <!-- open-iconic-bootstrap (icon set for bootstrap) -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />-->
</head>
<body>

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
         <div class="sidebar-header">
            <h3><a target="_self" href="{% url 'classTeacher:index'%}">
              <img src= "{% static 'classTeacher/images/facultadBlanco.png' %}"/></h3>
            <strong>AS</strong>
         </div>
            <ul class="list-unstyled components">
             <p style="text-align: center">Escoge</p>
             <li class="active">
                 <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
                 Proyección
                 <span class="oi oi-caret-bottom " style="margin-left: 50%"></span>
               </a>
                 <ul class="collapse list-unstyled" id="homeSubmenu">
                     <li class="active"><a href="{% url 'classTeacher:chart'%}">Reporte 1</a></li>
                     <li class="active"><a href="{% url 'classTeacher:chartComp'%}">Reporte 2</a></li>
                     <li class="active"><a href="{% url 'classTeacher:proyeccion'%}">Reporte 3</a></li>
                 </ul>
             </li>
             <li class="active">
                 <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Gestión<span class="oi oi-caret-bottom" style="margin-left: 63%"></span></a>
                 <ul class="collapse list-unstyled" id="pageSubmenu">
                     <li class="active"><a href="{% url 'classTeacher:profe_list'%}">Profesores</a></li>
                     <li class="active"><a href="{% url 'classTeacher:materia_list'%}">Clases</a></li>
                 </ul>
             </li>
             <li class="active"><a href="#">Calendario</a></li>
             <li class="active"><a href="#">Calculo de horarios</a></li>
         </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <span class="oi oi-menu"></span>
                    </button>
            </nav>

            {% block content %}
            <h2>Collapsible Sidebar Using Bootstrap 4</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <div class="line"></div>

            <h2>Lorem Ipsum Dolor</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <div class="line"></div>

            <h2>Lorem Ipsum Dolor</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <div class="line"></div>

            <h3>Lorem Ipsum Dolor</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            {% endblock %}
        </div>
    </div>
      <!-- Aquí van todos los JavaScript -->
  <!-- jQuery primero, luego Popper.js, luego Bootstrap JS -->
<script type="text/javascript" src="{% static 'classTeacher/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'classTeacher/js/popper.js' %}"></script>
<script type="text/javascript" src="{% static 'classTeacher/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'classTeacher/js/main.js' %}"></script>
{% block scripts %}
{% endblock %}
</body>

</html>
