{% extends "classTeacher/base_generic.html" %}
{% block title %}<title>Diagrama</title>{% endblock %}
    {% block content %}
    <div class="container">
        <embed type="image/svg+xml" src= {{ chartComp|safe }} />
    </div>
    {% endblock %}
