{% extends "classTeacher/base_generic.html" %}
{% block title %}<title>Diagrama</title>{% endblock %}
    {% block content %}
    <div class="container-fluid">
        <embed type="image/svg+xml" src= {{ chart|safe }} />
    </div>
    {% endblock %}
