{% extends "classTeacher/base_generic.html" %}
{% block title %}<title>Diagrama</title>{% endblock %}
    {% block content %}
    <ul>
    {% for codigo, value in dictionary.items %}
      <li>{{codigo}}: {{value}}</li>
    {% endfor %}
  {% endblock %}
