{% extends "classTeacher/base_generic.html" %}
{% block content %}
<div class="line"></div>
<h2>Bienvenido a Academic Scheduling!</h2>
<p>La planificación académica de las universidades involucra compensar virtualmente varios factores en términos académicos, financieros y logísticos.
  Al inicio de cada semestre, las facultades, jefes de carreras y administradores de las instituciones
  de educación superior deben enfrentarse a la frustración de muchos estudiantes y profesores.
  Esta herramienta se crea con el fin de acabar con esa frustración.
</p>
<div class="line"></div>
<div class="cargando text-center">
    <button class="btn btn-primary" id="cargar" data-toggle="modal" data-target="#exampleModal">Iniciar Proyección</button>
</div>
  <div class="modal" id="exampleModal">
  <div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
      <span aria-hidden="true" class="oi oi-circle-x" style="color: white"></span>
    </button>
        <div class="container">
  <div class="cube">
    <div class="sides">
      <div class="top"></div>
      <div class="right"></div>
      <div class="bottom"></div>
      <div class="left"></div>
      <div class="front"></div>
      <div class="back"></div>
    </div>
  </div>
  <div class="text">Cargando la proyección</div>
</div>
  </div>
  </div>
{% endblock %}
