{% for materia in materias %}
    <tr>
        <td>{{ materia.codigo }}</td>
        <td>{{ materia.nombre }}</td>
        <td>{{ materia.componente }}</td>
        <td>
            <button type="button" class="btn btn-warning btn-sm js-update-materia" data-url="{% url 'classTeacher:materia_update' materia.codigo %}"> <span class="oi oi-pencil"></span></button>
              <button type="button" class="btn btn-danger btn-sm js-delete-materia" data-url="{% url 'classTeacher:materia_delete' materia.codigo %}"><span class="oi oi-trash"></span> </button>
        </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="7" class="text-center bg-warning">No existen materias</td>
    </tr>
    {% endfor %}