<form method="post" action="{% url 'classTeacher:materia_create' %}" class="js-materia-create-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Añadir una materia</h4>
  </div>
  <div class="modal-body">
        {% include 'classTeacher/materia_parcial_form.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    <button type="submit" class="btn btn-primary">Añadir</button>
  </div>
</form>