<form method="post" action="{% url 'classTeacher:materia_delete' materia.codigo %}" class="js-materia-delete-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Confirmar Eliminación</h4>
  </div>
  <div class="modal-body">
    <p class="lead">Esta seguro que quiere eliminar <strong>{{ materia.nombre }}</strong>?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    <button type="submit" class="btn btn-danger">Eliminar materia</button>
  </div>
</form>