{% extends "classTeacher/base_generic.html" %}
{% load static %}
{% block content %}
<h1>Materias</h1>
 <p>
    <button type="button" class="btn btn-primary js-crear-materia" data-url="{% url 'classTeacher:materia_create' %}">
      <span class="oi oi-book"></span>
      Añadir Materia
    </button>
  </p>
<table  class="table" id="tabla-materias">
  <thead>
    <tr>
    <th>Codigo</th>
    <th>Nombre</th>
    <th>Componente</th>    
    <th>Acciones</th>
    </tr>
</thead>
<tbody>
    {% include 'classTeacher/materia_parcial_list.html' %}
</tbody>
</table>
 <!-- THE MODAL WE WILL BE USING -->
  <div class="modal fade" id="modal-materia">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
{% endblock%}
{% block scripts %}
  <script src="{% static 'classTeacher/js/materias.js' %}"></script>
{% endblock %}
