{% for Profesor in profesores %}
    <tr>
        <td>{{ Profesor.codigo }}</td>
        <td>{{ Profesor.nombre }}</td>
        <td>{{ Profesor.apellido }}</td>
        <td>
            <button type="button" class="btn btn-warning btn-sm js-update-profesor" data-url="{% url 'classTeacher:profe_update' Profesor.codigo %}"> <span class="oi oi-pencil"></span></button>
              <button type="button" class="btn btn-danger btn-sm js-delete-profesor" data-url="{% url 'classTeacher:profe_delete' Profesor.codigo %}"><span class="oi oi-trash"></span> </button>
        </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="7" class="text-center bg-warning">No existen profesores</td>
    </tr>
    {% endfor %}