{% extends "classTeacher/base_generic.html" %}
{% load static %}
{% block content %}
<h1>Profesores</h1>
 <p>
    <button type="button" class="btn btn-primary js-crear-profesor" data-url="{% url 'classTeacher:profe_create' %}">
      <span class="oi oi-person"></span>
      Añadir profesor
    </button>
  </p>
<table  class="table" id="tabla-profesores">
  <thead>
    <tr>
    <th>Codigo</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Acciones</th>
    </tr>
</thead>
<tbody>
    {% include 'classTeacher/profe_parcial_list.html' %}
</tbody>
</table>
 <!-- THE MODAL WE WILL BE USING -->
  <div class="modal fade" id="modal-profesor">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
{% endblock%}
{% block scripts %}
  <script src="{% static 'classTeacher/js/profesor.js' %}"></script>
{% endblock %}
