<form method="post" action="{% url 'classTeacher:profe_update' form.instance.codigo %}" class="js-profe-update-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Modificar Profesor</h4>
  </div>
  <div class="modal-body">
    {% include 'classTeacher/profe_parcial_form.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </div>
</form>