{% extends "classTeacher/base_generic.html" %}
{% block content %}
<h1>Proyeccion</h1>
<a href="{% url 'classTeacher:export_proyeccion_xls' %}">Exportar la proyección</a>
{% load render_table from django_tables2 %}
    {% render_table proyeccion %}
{% endblock%}
